main{
  
  padding: 100px 20px;
}
#headerJuguemos {
  background-image: url(../assets/img/img2.jpg);
  position: relative;
  height: 70vh;
}

.juego {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cajas{
  display: flex;
  flex-direction: row;
}
.caja{
  width: 275px;
  height: 400px;
  background-color: var(--sombraGris);
  color: var(--colorBlancoFondoSombras);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--sombraNegra);
  text-align: center;
}
.caja:hover{
  background-color: rgb(32, 31, 31);
}
#cajaimagenes{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 40px;
}
.reiniciar{
    display: flex;
    margin: auto;
    padding: 10px 100px;
    border: none;
    border-radius: 0px;
    box-shadow: 2px 2px grey;
    background-color: var(--colorAzul);
    color: var(--colorBlancoFondoSombras);
    text-transform: uppercase;
    font-weight: 300;
}
/*animacion del boton de reinicio*/
.reiniciar:active{
  transform: translate3d(2px, 2px, -2px);  
  box-shadow: none;
  transition: all 0.1s;
}
/*mensajes*/
.caja-mensajes {
  display: none; 
  justify-content: center; 
  align-items: center; 
  background-color: var(--sombraGris); 
  padding: 10px;  
  margin: 20px auto; 
  width: fit-content; 
}
.error{
  color: rgb(214, 177, 245);
}

.exito {
  color: rgb(179, 213, 245) ;
}

/*canvas*/
#contenedor {
  display: flex;
  justify-content: center;  
  align-items: center;  
  
}
.cantidad{
  display: flex;
  color: rgb(179, 213, 245) ;
  justify-content: center; 
  align-items: center; 
  background-color: var(--sombraGris); 
  padding: 10px;  
  margin: 20px auto; 
  width: fit-content; 
}
#cantidad{
  display: flex;

  justify-content: center; 
  align-items: center; 
  background-color: var(--sombraGris); 
  padding: 10px;  
  
  width: fit-content; 
}
